.display {
  display: flex;
  justify-content: center;
 
}

.display_results {
    display: flex;
    flex-direction: column;
    
   }

.display_favorites {
    display: flex;
    flex-direction: column;
    
    }

.list_anime {
    list-style-type: none;
}
